@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2D3142;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #BFC0C0;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 8%;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3 ease 0s;
}


.navLinks li a:hover {
    transition: all 0.3 ease 0s;
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(79, 93, 117, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(79, 93, 117, 0.8);
}

.title {
    text-align: center;
}

.question {
    text-align: left;
    padding-left: 30px;
}